<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/css?family=ALS+Sector&display=swap" rel="stylesheet" />
    <title>Мероприятие музея МГТУ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <a href="/">
        <div class="bmstu">
            <div class="bmstu-image"><img src="http://192.168.1.24:9000/static/bmstu.png"></div>
            <div class="bmstu-line"></div>
            <div class="bmstu-text">МОСКОВСКИЙ ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ ИМ Н. Э. БАУМАНА</div>
        </div>
    </a>
    <div class="event-card-long">
        <div class="event-card-long-text">
            <h1>{{ event.name }}</h1>
            <p>{{ event.description }}</p>
          </div>
        <div class="event-card-long-img"><img src="{{ event.img_url }}"></div>
    </div>
</body>
</html>
