* {
    box-sizing: border-box;
  }
  img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
  body {
    font-size: 14px;
  }
  main {
    width: 100%;
    height: 1024px;
    background: #ffffff;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 2;
  }
  header{
    width:auto;
    height: 96px;
    background: transparent;
    top: 0px;
    left: 0px;
  }
  .bmstu{
    display: flex;
    width: fit-content;
    height:fit-content;
    flex-direction: row;
    margin: 7px 80px 7px;
  }
  .bmstu-image {
    background-color: transparent;
    width: 69.87px;
    height: 82.48px;
    margin: 0 15px 0;

  }
  .bmstu-text{
    width:204px;
    font-size: 12px;
    font-family: ALS Sector, regular;
    font-weight: bold;
    color: black;
    margin: auto 0 auto;
  }
  .bmstu-line {
    position: relative;
    width: 1px;
    height: 39px;
    background-color: black;
    margin: auto 15px auto;
  }
  .menu{
    width: calc(100%-300px);
    top: 125px;
    display: flex;
    padding: 0 40px;
    align-items: center; /* Центрирование по вертикали */
    margin: 12px 150px;
  }
  .search{
    margin: 0 auto;
    display: flex;
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: flex-start; /* Элементы по горизонтали */
  }
  .search-form{
    display: flex;
    width: 620px;
    height: 40px;
    align-items: center;
  }
  .search-button{
    width: 24px;
    height: 24px;
    background-image: url('http://192.168.1.24:9000/static/search-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
  }
  .search-bar{
    width: 596px;
    height: 40px;
    font-size: 20px;
    font-family: ALS Sector, Regular;
    color: #666A6F;
    border: none;
    padding-left: 16px;
  }
  .cart {
    position:absolute;
    right: 150px;
    width: 70px; /* Ширина */
    height: 70px; /* Высота */
    background-color: #F7FAFE; /* Цвет фона */
    border-radius: 50%; /* Для создания круга */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 100px 10px #DDEBFA,
    inset 0 0 0 3px #DEECFA;
    margin-left: auto; /* Отступ между корзиной и полем поиска */
  }
   .cart-icon{
    background-color: transparent;
    width:33px;
    height: 30px;
    margin: 0 auto;

  } 
  .cart-count{
    position:absolute;
    top:0;
    right:0;
  
    background-color: #DDEBFA;
    width:24px;
    height: 24px;
    font-family: ALS Sector;
    font-size: 16px;
    border-radius: 50%;
    font-weight: bold;
    display: flex; /* Для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    color: #006CDC;
  }
  .events{
    position:relative;
    color: #303030;
    font-size: 36px;
    font-family: ALS Sector, regular;
    font-weight: bold;
    margin: 32px 150px 32px;
    z-index: 10;
  }
  .event-container {
    width: calc(100% - 300px); /* Учитываем отступы по 150px с каждой стороны */
    height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 40px;
    margin: 32px auto 0; /* Добавляем верхний отступ в 32px */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Учитываем отступы в ширину */
  }
  .event-card{
    min-width: 100px;
    height: 290px;
    border-radius: 20px;
    background-color: #F7FAFE;
    box-shadow: 0px 0px 50px 16px #DDEBFA,
    inset 0 0 0 3px #DEECFA;
  
    display: flex;
    justify-content: center;
    overflow: hidden; 
  
  }
  .event-text h1{
    position: relative;
    font-size: 24px;
    font-family: ALS Sector, regular;
    font-weight: bold;
    color: #006CDC;
    margin-bottom: 10px;
  }
  .event-text p{
    font-size: 16px;
    font-family: ALS Sector, Regular;
    margin: 0;
    color: #303030;
    opacity: 58%;
  }
  .event-text{
    width: 40%;
    margin: 0 16px;
  }
  .event-img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 60%;
    height: 100%;
    background-color: transparent;
    box-shadow: 
    -3px 3px 0px 0px #DEECFA inset,
    -3px -3px 0px 0px #DEECFA inset;

    object-fit: cover; /* Убедиться, что изображение масштабируется без искажений */
    overflow: hidden;
  }

  .event-img img{
    z-index:-2;
  }
  .event-card-long{
    width: calc(100%-300px);
    border-radius: 20px;
    background-color: #F7FAFE;
    box-shadow: 0px 0px 50px 16px #DDEBFA,
    inset 0 0 0 3px #DEECFA;
    margin: 28px 150px 0;
    display: flex;
    justify-content: center;
    overflow: hidden; 
  }
  .event-card-long-text{
    width: 60%;

    margin: 30px 60px;
  }
  .event-card-long-text h1{
    position: relative;
    font-size: 24px;
    font-family: ALS Sector, regular;
    font-weight: bold;
    color: #006CDC;
    margin-bottom: 10px;
  }
  .event-card-long-text p{
    font-size: 16px;
    font-family: ALS Sector, Regular;
    margin: 0;
    color: #303030;
  }
  .event-card-long-img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 40%;

    background-color: #666A6F;
    box-shadow: 
    -3px 3px 0px 0px #DEECFA inset,
    -3px -3px 0px 0px #DEECFA inset;
    object-fit: cover;
  }
  .menu3{
    width: calc(100%-300px);
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    margin: 28px 150px;
  }
  .menu3 p{
    background-color: white;
    width: 30%;
    height: 40px;
    margin:0;
    margin-left:40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: ALS Sector, Regular;
    color: #303030;
    padding-left: 16px;
  }
  .menu3 h1{
    margin:0;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #303030;
    font-size: 36px;
    font-family: ALS Sector, regular;
    font-weight: bold;
  
    z-index: 10;
  }
  a {
    text-decoration: none;
  }